*{
margin: 0;
padding: 0;
box-sizing: border-box;
 text-decoration: none;
}

:root{
  --color-brand: #CA3884;
  --color-brand-hover:#A52C6B;
  --color-danger: #C93847;
  --content-primary:#080B12;
  --content-secondary: #374151;
  --content-tertiary:#9CA3AF;
  --always-white: #ffff;
  --border-primary: #D1D5DB;
  --border-hover:#B9C2D0;
  --font-family: "Inter", sans-serif;
}

body{
  font-family: var(--font-family);
 
}